@import "./src/assets/css/variables.scss";

#response-box-component {
  .box-row {
    margin-top: 30px;
    background: white;
    border-radius: 2.4px;
    padding: 20px 20px 20px 20px;
  }
  .img {
    background-color: #7dbe79;
    height: 100px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
  }
  .enterprise-name {
    color: #1a0e49;
    font-weight: bold;
    font-size: 24px;
  }
  .enterprise-type {
    color: #8d8c8c;
    font-size: 20px;
  }
  .enterprise-country {
    color: #8d8c8c;
    font-size: 16px;
  }
}
