@import url("https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./src/assets/css/variables.scss";
@import "./node_modules/materialize-css/dist/css/materialize";

body {
  margin: 0;
  padding: 0;
  background: beige;
  color: $primaryText;
}

html,
body,
main,
#root {
  min-height: 100%;
}

* {
  font-family: $primaryFont;
}

.srv-validation-message {
  color: red;
  font-size: 15px;
}

.answer-error {
  .answer-icon {
    vertical-align: -7px;
  }
  color: red;
  font-size: 15px;
}

.is-loading-custom {
  margin: 0 auto;
  -webkit-animation: spinAround 500ms infinite linear;
  animation: spinAround 500ms infinite linear;
  border: 2px solid $primaryText;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 3em;
  position: relative;
  width: 3em;
}
