@import "./src/assets/css/variables.scss";

#login-view {
  padding-left: 30px;
  padding-right: 30px;

  .container {
    @media (max-width: 600px) {
      padding: 10px 10px 10px 10px;
    }
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  .lorem-ipsum {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.13px;
    text-align: center;
    color: $primaryText;
  }

  img {
    margin: 0 auto;
    width: 100%;
  }

  h1 {
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
    font-weight: bold;
    line-height: 1.4;
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    color: $primaryText;
  }
  #cover-spin {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(0.5px);
    backdrop-filter: blur(1.5px);
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 9999;
  }

  @-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #cover-spin::after {
    content: "";
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40vh;
    left: 0;
    right: 0;
    text-align: center;

    width: 150px;
    height: 150px;
    border-style: solid;
    border-color: #57bbbc;
    border-top-color: transparent;
    border-width: 10px;
    border-radius: 50%;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
  }
}
