@import "./src/assets/css/variables.scss";

#enterprise-view {
  .box {
    background-color: #fff;
    border-radius: 4.5px;
    margin-top: 50px;
    padding: 50px 50px 50px 50px;
  }

  .no-photo {
    background-color: #7dbe79;
    height: 200px;
    margin: 0 auto;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
  }

  h1 {
    font-size: 24px;
    color: $textEnterprise;
    text-align: left;
  }

  .description {
    font-size: 20px;
    color: $textEnterprise;
    text-align: justify;
  }
}
