@import "./src/assets/css/variables.scss";

#navbar-component {
  .nav-wrapper {
    height: 100%;
  }
  padding-top: 20px;
  height: 100px;
  background-image: linear-gradient(173deg, #eb4b76 24%, #bc3c67 66%);

  .brand-logo {
    margin-left: 0;
    width: 80%;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    height: 100px;
  }

  .search {
    color: white;
    box-shadow: none;
    border-bottom: 1px solid #d8d8d8;
  }

  button {
    background: transparent;
    color: #fff;
    border: none;
    :hover {
      background: #a8375c;
    }
    padding-right: 25px;
  }

  img {
    margin: auto auto;
    max-height: 55px;
  }

  @media (max-width: 600px) {
    .title-enterprise {
      font-size: 20px;
    }

    .brand-logo {
      margin-left: 0px;
      width: 70%;
    }

    img {
      margin: auto auto;
      max-width: 120px;
    }
  }
}
